<div class=" w-full border  flex justify-between items-center mb-10">
  <div class="text-center m-auto flex flex-col gap-3">
    <div class="flex items-center gap-3">
      <p class='class="w-8 sm:w-12 h-[1px] sm:h-[2px] bg-gray-700'></p>
      <h4 class="font-medium text-xl text-gray-700">OUR BESTSELLERS</h4>
    </div>
    <h1 class="font-medium text-5xl text-gray-700">Latest Arrivals</h1>
    <div class="flex items-center gap-3">
      <h1 class="font-medium text-xl text-gray-700">SHOP NOW</h1>
      <p class='class="w-8 sm:w-12 h-[1px] sm:h-[2px] bg-gray-700'></p>
    </div>
  </div>
  <div class="w-1/2">
    <img src="assets/frontend_assets/hero_img.png" class="w-full h-auto" alt="Hero Image" />
  </div>
</div>
