<div class="flex flex-col gap-2 text-sm text-gray-700 pt-2">
        <div class="flex justify-between border-b border-gray-200 pb-2">
          <p>Subtotal</p>
          <p class="font-medium">${{subTotal()}}</p>
        </div>
        <div class="flex justify-between border-b border-gray-200 pb-2">
          <p>Shipping Fee</p>
          <p class="font-medium">${{shipping()}}</p>
        </div>
        <div class="flex justify-between pt-1 text-base font-bold text-gray-900">
          <p>Total</p>
          <p>${{total()}}</p>
        </div>
      </div>