<div class="w-full bg-white border-b border-gray-200 relative font-sans">
  <div class="max-w-7xl mx-auto px-4 flex items-center gap-6 text-sm font-medium text-gray-700 h-14">
    @for (category of categories(); track category.Id) {
    <div class="group h-full flex items-center">
      <button class="text-black font-semibold h-full px-1">
        {{ category.Name }}
      </button>

      <div
        class="absolute left-0 top-14 w-full bg-white border-b border-gray-200 shadow-xl hidden group-hover:block z-50 transition-all">
        <div class="max-w-7xl mx-auto px-6 py-8 grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-8 text-left">
          @for (subCategory of subCategories(); track subCategory.Id) {
          @if (subCategory.CategoryId === category.Id) {
          <div>
            <h5 class="font-bold text-gray-900 text-sm mb-3">{{ subCategory.Name }}</h5>
            <ul class="flex flex-col gap-2 text-xs text-gray-500">
              @for (product of getProductsBySubCategory(subCategory.Name); track product.Id) {
                <li>
                  <a [routerLink]="['/productDetails/', product.Id]" class="hover:text-black block truncate max-w-[150px]">
                    {{ product.Name }}
                  </a>
                </li>
              } @empty {
                <li class="text-gray-400 italic">No products</li>
              }
            </ul>
          </div>}
          }

        </div>
      </div>
    </div>
    }
  </div>
</div>