<div class="max-w-6xl mx-auto px-4 py-6">
  <app-title text1="YOUR" text2=" CART" />

  <div class="flex flex-col gap-4 pt-6">
    @for (item of cartItems; track $index) {
    <div class="grid grid-cols-[auto_1fr_auto_auto] items-center gap-6 border-b border-gray-200 pb-4">
      <img [src]="item.pictureUrl" class="w-[80px] md:w-[90px] object-cover" alt="Product" />
      <div class="flex flex-col gap-2">
        <h3 class="text-sm md:text-base font-medium text-gray-800">
          {{item.productName}}
        </h3>
        <div class="flex items-center gap-3">
          <p class="text-gray-600 text-sm md:text-base">{{item.price}}</p>
        </div>
      </div>
      <div class="flex justify-center px-4">
        <input type="number" value="{{item.quantity}}" min="1"
          class="w-16 p-1.5 text-center text-sm border border-gray-300 rounded outline-none text-gray-700" />
      </div>
      <div class="flex justify-center pr-2">
        <img src="../../assets/frontend_assets/bin_icon.png"
          class="w-[16px] md:w-[18px] opacity-70 hover:opacity-100 transition-opacity cursor-pointer" alt="Delete" />
      </div>
    </div>
    }

  </div>

  <div class="flex justify-end my-20">
    <div class="w-full sm:w-[450px] flex flex-col gap-4">
      <div class="text-xl md:text-2xl font-light text-gray-500 uppercase tracking-wider flex items-center gap-2">
        <span>CART</span>
        <span class="text-gray-800 font-medium">TOTALS</span>
        <div class="h-[1.5px] w-12 bg-gray-700"></div>
      </div>

      <div class="flex flex-col gap-2 text-sm text-gray-700 pt-2">
        <div class="flex justify-between border-b border-gray-200 pb-2">
          <p>Subtotal</p>
          <p class="font-medium">$60.00</p>
        </div>
        <div class="flex justify-between border-b border-gray-200 pb-2">
          <p>Shipping Fee</p>
          <p class="font-medium">$10.00</p>
        </div>
        <div class="flex justify-between pt-1 text-base font-bold text-gray-900">
          <p>Total</p>
          <p>$70.00</p>
        </div>
      </div>

      <div class="flex justify-end pt-4">
        <a routerLink="/checkout"
          class="bg-black text-white text-xs md:text-sm font-medium tracking-widest uppercase px-8 py-3 active:bg-gray-700 transition-colors">
          PROCEED TO CHECKOUT
        </a>
      </div>
    </div>
  </div>
</div>