
<div>
  <app-title text1="YOUR" text2=" CART" />

  <div class="flex flex-col gap-6 pt-10">
    <!-- Item -->
    <div
      class="flex flex-col md:flex-row md:items-center md:justify-between gap-5 border-b border-gray-300 pb-5"
    >
      <!-- Left Section -->
      <div class="flex items-center gap-4 flex-1">
        <img src="../../assets/frontend_assets/p_img1.png" class="w-[80px] md:w-[100px]" />

        <div>
          <h3 class="text-base md:text-xl font-bold">Boy Round Neck Pure Cotton T-shirt</h3>

          <div class="flex gap-4 items-center pt-3 md:pt-5">
            <p class="font-bold">$60</p>

            <button
              class="border border-gray-500 bg-gray-100 px-3 py-1 rounded hover:bg-black hover:text-white transition"
            >
              S
            </button>
          </div>
        </div>
      </div>

      <!-- Quantity -->
      <div class="flex items-center justify-between md:justify-center">
        <input
          type="text"
          value="1"
          class="p-1 w-12 text-center font-bold text-lg border border-gray-400 bg-gray-100"
        />
      </div>

      <!-- Delete -->
      <div class="flex justify-end md:justify-center">
        <img
          src="../../assets/frontend_assets/bin_icon.png"
          class="w-[18px] md:w-[20px] cursor-pointer"
        />
      </div>
    </div>

    <!-- Repeat item (نفس البلوك يتكرر) -->
    <div
      class="flex flex-col md:flex-row md:items-center md:justify-between gap-5 border-b border-gray-300 pb-5"
    >
      <div class="flex items-center gap-4 flex-1">
        <img src="../../assets/frontend_assets/p_img1.png" class="w-[80px] md:w-[100px]" />

        <div>
          <h3 class="text-base md:text-xl font-bold">Boy Round Neck Pure Cotton T-shirt</h3>

          <div class="flex gap-4 items-center pt-3 md:pt-5">
            <p class="font-bold">$60</p>

            <button
              class="border border-gray-500 bg-gray-100 px-3 py-1 rounded hover:bg-black hover:text-white transition"
            >
              S
            </button>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-between md:justify-center">
        <input
          type="text"
          value="1"
          class="p-1 w-12 text-center font-bold text-lg border border-gray-400 bg-gray-100"
        />
      </div>

      <div class="flex justify-end md:justify-center">
        <img
          src="../../assets/frontend_assets/bin_icon.png"
          class="w-[18px] md:w-[20px] cursor-pointer"
        />
      </div>
    </div>
  </div>
</div>
