<div class=" flex flex-col items-center justify-between gap-5 py-10 mb-10">
      <h3 class="font-bold text-3xl ">Subscribe now & get 20% off</h3>
      <p class="text-gray-700">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <form action="" class="flex items-center justify-center w-2/3">
        <input type="text" placeholder="Enter your email"   class=" p-4 w-2/3 text-gray-700 border border-gray-300 outline-none"/>
        <button  class="text-white bg-black p-4 ">SUBSCRIBE</button>
      </form>
    </div>