<div class="bg-white rounded-xl  shadow-sm overflow-hidden max-w-7xl mx-auto animate-fadeIn">

    <!-- HEADER -->
    <header class="px-6 py-5 border-b border-slate-200 bg-white flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">

        <div class="space-y-2">

            <h1 class="text-xl font-bold text-slate-900 tracking-tight">

                @if (mode === 'add') {
                Create New Product
                } @else if (mode === 'edit') {
                Edit Current Product
                } @else {
                Product Details
                }

            </h1>

            <div class="flex items-center gap-3 text-xs text-slate-500">

                <p>
                    @if (mode === 'add') {
                    Create a new product in your catalog.
                    } @else if (mode === 'edit') {
                    Update product information and settings.
                    } @else {
                    Read-only product information view.
                    }
                </p>

                @if (mode === 'edit' ) {
                <span class="px-2 py-1 rounded-md bg-slate-100 text-slate-700 font-semibold">
                    ID #24
                </span>
                }

            </div>

        </div>

        <button routerLink="/admin/products" class="inline-flex items-center space-x-1.5 text-xs font-bold text-slate-600 hover:text-slate-900 bg-slate-50 hover:bg-slate-100  px-3 py-2 rounded-lg transition-all shadow-sm">

            <i class="fa-solid fa-arrow-left"></i>
            <span>Return to Products</span>
        </button>

    </header>

    <!-- FORM -->
    <form [formGroup]="addForm" (ngSubmit)="Submit()" class="p-6 space-y-6 bg-white">

        <header class="text-black text-xl font-bold">productID #24</header>
        <!-- GRID -->
        <section class="grid grid-cols-1 md:grid-cols-2 gap-6">

            <!-- NAME -->
            <div>
                <label class="form-label">Product Name *</label>

                <input type="text" class="form-input" formControlName="name" />

                @if (name.invalid && (name.touched || name.dirty)) {
                <p class="form-error">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    Product name is required
                </p>
                }
            </div>

            <!-- PICTURE -->
            <div>
                <label class="form-label">Picture URL *</label>

                <div class="relative">
                    <span class="absolute left-3 top-2 text-slate-400">
                        <i class="fa-solid fa-link"></i>
                    </span>

                    <input type="text" class="form-input form-input-icon" formControlName="pictureUrl" />
                </div>

                @if (pictureUrl.invalid && (pictureUrl.touched || pictureUrl.dirty)) {
                <p class="form-error">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    Picture URL is required
                </p>
                }
            </div>

            <!-- CATEGORY -->
            <div>
                <label class="form-label">Category *</label>

                <select class="form-select" formControlName="categoryId">

                    <option value="">Select Category</option>
                    @for (cat of categorys(); track cat.id) {
                    <option [value]="cat.id">{{ cat.name }}</option>
                    }
                </select>

                @if (categoryId.invalid && (categoryId.touched || categoryId.dirty)) {
                <p class="form-error">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    Category is required
                </p>
                }
            </div>

            <!-- BRAND -->
            <div>
                <label class="form-label">Brand *</label>

                <select class="form-select" formControlName="brandId">

                    <option value="">Select Brand</option>
                    @for (brand of brands(); track brand.id) {
                    <option [value]="brand.id">{{ brand.name }}</option>
                    }
                </select>

                @if (brandId.invalid && (brandId.touched || brandId.dirty)) {
                <p class="form-error">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    Brand is required
                </p>
                }
            </div>

            <!-- TYPE -->
            <div>
                <label class="form-label">Type *</label>

                <select class="form-select" formControlName="typeId">

                    <option value="">Select Type</option>
                    @for (type of types(); track type.id) {
                    <option [value]="type.id">{{ type.name }}</option>
                    }
                </select>

                @if (typeId.invalid && (typeId.touched || typeId.dirty)) {
                <p class="form-error">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    Type is required
                </p>
                }
            </div>

            <!-- PRICE -->
            <div>
                <label class="form-label">Base Price *</label>

                <input class="form-input form-input-price" formControlName="price" />

                @if (price.errors?.['required'] && (price.touched || price.dirty)) {
                <p class="form-error">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    Price is required
                </p>
                }
            </div>

            <!-- DISCOUNT -->
            <div>
                <label class="form-label">Discount</label>

                <input class="form-input form-input-discount" formControlName="discount" />
            </div>

            <!-- STOCK -->
            <div>
                <label class="form-label">Stock *</label>

                <input class="form-input" formControlName="stockQuantity" />

                @if (stockQuantity.errors?.['required'] && (stockQuantity.touched || stockQuantity.dirty)) {
                <p class="form-error">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    Stock is required
                </p>
                }
            </div>

            <!-- DESCRIPTION (FULL WIDTH) -->
            <div class="md:col-span-2">
                <label class="form-label">Description</label>

                <textarea rows="4" class="form-textarea" formControlName="description"></textarea>

                @if (description.invalid && (description.touched || description.dirty)) {
                <p class="form-error">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    Description is required
                </p>
                }
            </div>

        </section>

        <!-- FOOTER -->
        <footer class="flex justify-end gap-3 pt-4 border-t border-slate-200">

            <button routerLink="/admin/products" class="px-4 py-2 text-sm font-semibold border border-slate-300 rounded-lg hover:bg-slate-50">
                Cancel
            </button>


            <button type="submit" class="px-5 py-2 text-sm font-bold text-white rounded-lg" [ngClass]="{
            'bg-yellow-500 hover:bg-yellow-600': mode === 'edit',
            'bg-black hover:bg-black/80': mode === 'add',
        }">
                {{ mode === 'add' ? 'Add Product' : 'Save Changes' }}
            </button>

        </footer>

    </form>

</div>