 <div>
      <!-- <Title text1="LATEST" text2="COLLECTIONS" /> -->
      <p class="text-gray-700 text-center my-5">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the.
      </p>
      <!-- <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 md:grid-cols-3 lg:grid-cols-5 justify-center py-5">
        {products?.products
          ?.slice(0, 10)
          .map(
            (product: {
              _id: Key | null | undefined;
              image: string;
              title: string;
              price: number;
            }) => (
              <ProductCard
                key={product._id}
                id={product.title}
                image={product.image}
                title={product.title}
                // category={e.category}
                price={product.price}
              />
            ),
          )}
      </div> -->
    </div>