 <!-- <Title text1="ABOUT" text2="US" /> -->
      <div className=" grid grid-cols-1 sm:grid-cols-2 gap-10 items-center py-10 w-full">
        <div className="">
          <img src="assets/frontend_assets/about_img.png" alt="about image" />
        </div>
        <div className="flex flex-col gap-5 text-gray-700">
          <p>
            Forever was born out of a passion for innovation and a desire to
            revolutionize the way people shop online. Our journey began with a
            simple idea: to provide a platform where customers can easily
            discover, explore, and purchase a wide range of products from the
            comfort of their homes.
          </p>
          <p>
            Since our inception,we have worked tirelessly to curate a diverse
            selection of high-quality products that cater to every taste and
            preference. From fashion and beauty to electronics and home
            essentials, we offer an extensive collection sourced from trusted
            brands and suppliers.
          </p>
          <h1 className="font-bold text-lg">Our Mission</h1>
          <p>
            Our mission at Forever is to empower customers with choice,
            convenience, and confidence. We're dedicated to providing a seamless
            shopping experience that exceeds expectations, from browsing and
            ordering to delivery and beyond.
          </p>
        </div>
      </div>
      <!-- <Title
        text1="WHY "
        text2=" CHOOSE US

"
      /> -->
      <div className="grid grid-cols-1 sm:grid-cols-3 py-10">
        <div className="p-10 border border-gray-400 flex flex-col gap-3">
          <h4 className="font-bold text-xl">Quality Assurance:</h4>
          <p className="text-gray-500">
            We meticulously select and vet each product to ensure it meets our
            stringent quality standards.
          </p>
        </div>
        <div className="p-10 border border-gray-400 flex flex-col gap-3">
          <h4 className="font-bold text-xl">Convenience:</h4>
          <p className="text-gray-500">
            With our user-friendly interface and hassle-free ordering process,
            shopping has never been easier.
          </p>
        </div>
        <div className="p-10 border border-gray-400 flex flex-col gap-3">
          <h4 className="font-bold text-xl">Exceptional Customer Service:</h4>
          <p className="text-gray-500 ">
            Our team of dedicated professionals is here to assist you the way,
            ensuring your satisfaction is our top priority.
          </p>
        </div>
      </div>
      <!-- <NewsLetterBox/> -->